.wrapper {
  padding: 1rem;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  display: flex;
}

.horizontal {
  flex-direction: row;
  justify-content: center;
}

.label {
  text-align: center;
}
